# Polar.sh Organization ID for customer portal license key activation
POLAR_ORG_ID=0f21e4e3-8c94-4bba-a50e-e915ecff6cc4

# Polar.sh Benefit ID for InstaFrame Pro
POLAR_BENEFIT_ID=372b64b5-cb51-4129-ac62-069b8a2ed423
